{
  "extends": "loopback",
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "max-len": [2, {"code": 180, "tabWidth": 2, "ignoreUrls": false}]
  }
}
